body {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: black;
    text-align: center;
    background-image:url("./images/Binary\ Background.jpg");
    backdrop-filter: grayscale(100%);
    font-weight: bold;
    word-spacing: 0.5em;
    padding-bottom: 0 10px 0 10px;
    align-self: center;
}

img {
    padding: 10px;
    border-radius: 30px;
    max-width: 100%;
    height: auto;
    display: block;
    box-shadow: black;
    opacity: 0.80;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover;
    max-width: 100vw;
}

h1 {
    text-align: center;
    color: white;
    font-weight: bold;
}

footer{ 
    border-top: solid 1px;
    border-color: white;
    padding-bottom: 50px;
    align-content: middle;
    color: rgb(255, 255, 255) ;
    width: 100%;
    height: 10px;
    position: relative;
    left: 0;
    text-align: center;
    font-weight: bold;
  }

hr{
    width: 50%;
}

.main_message{
   padding-bottom: 20px;
}

footer > p{
    backdrop-filter: grayscale(100%);

}
